# {{invokerPackage}}\{{classname}}{{#description}}

{{description}}{{/description}}

All URIs are relative to *{{basePath}}*

Method | HTTP request | Description
------------- | ------------- | -------------
{{#operations}}{{#operation}}[**{{operationId}}**]({{classname}}.md#{{operationId}}) | **{{httpMethod}}** {{path}} | {{#summary}}{{summary}}{{/summary}}
{{/operation}}{{/operations}}

{{#operations}}
{{#operation}}

## {{{operationId}}}

> {{#returnType}}{{{.}}} {{/returnType}}{{{operationId}}}(ctx{{#pathParams}}, {{paramName}}{{/pathParams}}){{#allParams}}{{^isPathParam}}.{{vendorExtensions.x-export-param-name}}({{paramName}}){{/isPathParam}}{{/allParams}}.Execute()

{{{summary}}}{{#notes}}

{{{unespacedNotes}}}{{/notes}}

### Example

```go
package main

import (
    "context"
    "fmt"
    "os"
{{#vendorExtensions.x-go-import}}
{{{vendorExtensions.x-go-import}}}
{{/vendorExtensions.x-go-import}}
    {{goImportAlias}} "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}{{#isGoSubmodule}}/{{packageName}}{{/isGoSubmodule}}"
)

func main() {
    {{#allParams}}
    {{paramName}} := {{{vendorExtensions.x-go-example}}} // {{{dataType}}} | {{{description}}}{{^required}} (optional){{/required}}{{#defaultValue}} (default to {{{.}}}){{/defaultValue}}
    {{/allParams}}

    configuration := {{goImportAlias}}.NewConfiguration()
    apiClient := {{goImportAlias}}.NewAPIClient(configuration)
    {{#returnType}}resp, {{/returnType}}r, err := apiClient.{{classname}}.{{operationId}}(context.Background(){{#pathParams}}, {{paramName}}{{/pathParams}}){{#allParams}}{{^isPathParam}}.{{vendorExtensions.x-export-param-name}}({{paramName}}){{/isPathParam}}{{/allParams}}.Execute()
    if err != nil {
        fmt.Fprintf(os.Stderr, "Error when calling `{{classname}}.{{operationId}}``: %v\n", err)
        fmt.Fprintf(os.Stderr, "Full HTTP response: %v\n", r)
    }
    {{#returnType}}
    // response from `{{operationId}}`: {{{.}}}
    fmt.Fprintf(os.Stdout, "Response from `{{classname}}.{{operationId}}`: %v\n", resp)
    {{/returnType}}
}
```

### Path Parameters

{{^allParams}}This endpoint does not need any parameter.{{/allParams}}{{#pathParams}}{{#-last}}
Name | Type | Description  | Notes
------------- | ------------- | ------------- | -------------
**ctx** | **context.Context** | context for authentication, logging, cancellation, deadlines, tracing, etc.{{/-last}}{{/pathParams}}{{#pathParams}}
**{{paramName}}** | {{^isPrimitiveType}}{{^isFile}}[{{/isFile}}{{/isPrimitiveType}}**{{dataType}}**{{^isPrimitiveType}}{{^isFile}}]({{baseType}}.md){{/isFile}}{{/isPrimitiveType}} | {{description}} | {{#defaultValue}}[default to {{defaultValue}}]{{/defaultValue}}{{/pathParams}}

### Other Parameters

Other parameters are passed through a pointer to a api{{{nickname}}}Request struct via the builder pattern
{{#allParams}}{{#-last}}

Name | Type | Description  | Notes
------------- | ------------- | ------------- | -------------{{/-last}}{{/allParams}}{{#allParams}}
{{^isPathParam}} **{{paramName}}** | {{#isContainer}}{{#isArray}}{{#items}}{{^isPrimitiveType}}{{^isFile}}[{{/isFile}}{{/isPrimitiveType}}**[]{{dataType}}**{{^isPrimitiveType}}{{^isFile}}]({{^baseType}}{{dataType}}{{/baseType}}{{baseType}}.md){{/isFile}}{{/isPrimitiveType}}{{/items}}{{/isArray}}{{#isMap}}{{#items}}{{^isPrimitiveType}}{{^isFile}}[{{/isFile}}{{/isPrimitiveType}}**map[string]{{dataType}}**{{^isPrimitiveType}}{{^isFile}}]({{^baseType}}{{dataType}}{{/baseType}}{{baseType}}.md){{/isFile}}{{/isPrimitiveType}}{{/items}}{{/isMap}}{{/isContainer}}{{^isContainer}}{{^isPrimitiveType}}{{^isFile}}[{{/isFile}}{{/isPrimitiveType}}**{{dataType}}**{{^isPrimitiveType}}{{^isFile}}]({{^baseType}}{{dataType}}{{/baseType}}{{baseType}}.md){{/isFile}}{{/isPrimitiveType}}{{/isContainer}} | {{description}} | {{#defaultValue}}[default to {{defaultValue}}]{{/defaultValue}}{{/isPathParam}}{{/allParams}}

### Return type

{{#returnType}}{{#returnTypeIsPrimitive}}**{{{returnType}}}**{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}[**{{{returnType}}}**]({{returnBaseType}}.md){{/returnTypeIsPrimitive}}{{/returnType}}{{^returnType}} (empty response body){{/returnType}}

### Authorization

{{^authMethods}}No authorization required{{/authMethods}}{{#authMethods}}[{{{name}}}](../README.md#{{{name}}}){{^-last}}, {{/-last}}{{/authMethods}}

### HTTP request headers

- **Content-Type**: {{#consumes}}{{{mediaType}}}{{^-last}}, {{/-last}}{{/consumes}}{{^consumes}}Not defined{{/consumes}}
- **Accept**: {{#produces}}{{{mediaType}}}{{^-last}}, {{/-last}}{{/produces}}{{^produces}}Not defined{{/produces}}

[[Back to top]](#) [[Back to API list]](../README.md#documentation-for-api-endpoints)
[[Back to Model list]](../README.md#documentation-for-models)
[[Back to README]](../README.md)

{{#callbacks}}
### Callbacks

    {{#pathSet}}
### pathSet
PATH_ID : {{PATH_ID}}
basePathWithoutHost : {{{basePathWithoutHost}}}
pathRegEx : {{{pathRegEx}}}
index : {{{index}}}
{{#hasPathParams}}
> hasPathParams
{{/hasPathParams}}
    {{/pathSet}}
    
    {{#urls}}
### urls
expression : {{{expression}}}
path: {{{path}}}

    {{#requests}}
### requests
{{#hasAuthMethods}}
> hasAuthMethods
{{/hasAuthMethods}}
name : {{{name}}}
scope : {{{scope}}}
description : {{{description}}}
operationId : {{{operationId}}}
httpMethod : {{{httpMethod}}}
x-http-method : {{{vendorExtensions.x-http-method}}} 
x-path-id : {{{vendorExtensions.x-path-id}}}
path: {{{path}}}
returnBaseType: {{{returnBaseType}}}
returnType: {{{returnType}}}
consumes: {{{consumes}}}
produces: {{{produces}}}

{{#pathParams}}
### request / PathParams
name : {{{name}}}
path : {{{path}}}
pathName : {{{paramName}}}
dataType : {{{dataType}}}
baseName : {{{baseName}}}
{{/pathParams}}

{{#headerParams}}
### request / HeaderParams
name : {{{name}}}
pathName : {{{paramName}}}
dataType : {{{dataType}}}
baseName : {{{baseName}}}
nameInLowerCase : {{{nameInLowerCase}}}
{{#required}}
> requrired
{{/required}}
{{/headerParams}}

{{#queryParams}}
### request / QueryParams
name : {{{name}}}
pathName : {{{paramName}}}
dataType : {{{dataType}}}
baseName : {{{baseName}}}
nameInLowerCase : {{{nameInLowerCase}}}
{{#required}}
> requrired
{{/required}}
{{#isArray}}
> isArray
{{/isArray}}
{{/queryParams}}

{{#bodyParams}}
### request / bodyParams
name : {{{name}}}
pathName : {{{paramName}}}
dataType : {{{dataType}}}
baseName : {{{baseName}}}
nameInLowerCase : {{{nameInLowerCase}}}
{{#required}}
> requrired
{{/required}}
{{#isArray}}
> isArray
{{/isArray}}

{{#vars}}
### request / bodyParams / vars
name : {{{name}}}
dataType : {{{dataType}}}
baseName : {{{baseName}}}
nameInLowerCase : {{{nameInLowerCase}}}
nameInSnakeCase : {{{nameInSnakeCase}}}
{{/vars}}

{{/bodyParams}}

{{#formParams}}
### request / formParams
name : {{{name}}}
pathName : {{{paramName}}}
dataType : {{{dataType}}}
baseName : {{{baseName}}}
nameInLowerCase : {{{nameInLowerCase}}}
{{#required}}
> requrired
{{/required}}
{{#isArray}}
> isArray
{{/isArray}}
{{#isBinary}}
> isBinary
{{/isBinary}}
{{/formParams}}

{{#x-consumes-multipart}}
### x-consumes-multipart
{{/x-consumes-multipart}}

{{#headers}}
### request / headers
name : {{{name}}}
{{/headers}}

    {{#responses}}
### responses <- callbacks/urls/requests/responses 으로 연결
code: {{{code}}}
message: {{{message}}}
dataType : {{{dataType}}}
baseType : {{{baseType}}}
baseName : {{{baseName}}}
nameInLowerCase : {{{nameInLowerCase}}}
message : {{{message}}}
imports: {{{imports}}}

{{#headerParams}}
### responses / headerParams <- callbacks/urls/requests/headerParams
name : {{{name}}}
pathName : {{{paramName}}}
dataType : {{{dataType}}}
baseType : {{{baseType}}}
baseName : {{{baseName}}}
nameInLowerCase : {{{nameInLowerCase}}}
{{#required}}
> requrired
{{/required}}
{{/headerParams}}

{{#headers}}
### responses / headers <- callbacks/urls/request/headers 와 동일
name : {{{name}}}
dataType : {{{dataType}}}
baseType : {{{baseType}}}
baseName : {{{baseName}}}
nameInLowerCase : {{{nameInLowerCase}}}
{{/headers}}

{{#bodyParams}}
### responses / bodyParams <- callbacks/urls/request/bodyParams 와 동일
name : {{{name}}}
pathName : {{{paramName}}}
dataType : {{{dataType}}}
baseType : {{{baseType}}}
baseName : {{{baseName}}}
nameInLowerCase : {{{nameInLowerCase}}}
    {{#required}}
> requrired
    {{/required}}
    {{#isArray}}
> isArray
    {{/isArray}}
    {{#vars}}
### responses / bodyParams / vars <- callbacks/urls/request/bodyParams/vars 와 동일
name : {{{name}}}
dataType : {{{dataType}}}
baseType : {{{baseType}}}
baseName : {{{baseName}}}
nameInLowerCase : {{{nameInLowerCase}}}
nameInSnakeCase : {{{nameInSnakeCase}}}
    {{/vars}}
{{/bodyParams}}

    {{/responses}}

    {{/requests}}

    {{/urls}}
{{/callbacks}}

{{/operation}}
{{/operations}}
